body{
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
}

html, body {
  overflow-x: hidden; /* Sembunyikan overflow horizontal */
  width: 100%;        /* Pastikan lebar sesuai viewport */
}

.navbar{
    flex-wrap: nowrap;
}

.navbar-toggler {
    margin-left: auto;
}
.custom-width{
    flex-wrap: nowrap;
    background-color:#ffffff;
    border-radius: 20px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .navbar-brand img {
      width: 200px; /* Kurangi ukuran logo */
    }
}

@media (max-width: 576px) {
    .material-symbols-outlined {
      font-size: 70px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .spektros {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .biotek {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .perdus {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .nerbar {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .mektron {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .butan {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}
@media (max-width: 576px) {
    .sejtir {
      margin-top: 80px!important; /* Ukuran lebih kecil di layar kecil */
    }
}

.navbar-nav {
    flex-wrap: wrap; /* Membungkus item jika tidak cukup ruang */
}

.nav-link:hover{
    background-color: rgb(242,210,15)!important;
    border-radius: 20px;
}

.dropdown-item:hover{
    background-color: rgb(242,210,15)!important;
    border-radius: 20px!important;
}

.list-group-item a {
    text-decoration: none;
    color: black;
}

.list-group-item a:hover {
    background-color: rgb(242,210,15);
}
.list-group-item a {
    text-decoration: none;
    color: black;
}

.list-group-item a:hover {
    background-color: rgb(242,210,15);
}

.accordion-body {
    border-color: rgb(242,210,15);
    max-width: 100%; /* Membatasi lebar elemen accordion agar tidak melebihi layar */
    word-wrap: break-word; /* Memastikan teks panjang akan dibungkus ke baris berikutnya */
    overflow-wrap: break-word;
    background-color: rgb(207,226,255); /* Mendukung pembungkusan teks */
}

.dropdown-item1{
    text-decoration: none;
    color: black;
}
.dropdown-item1:hover{
    background-color: rgb(0,65,130);
    color: white;
}

.nohov{
    background-color: rgb(242,210,15);
    border-radius: 30px;
}
.nohov:hover{
    color: rgb(0,65,130);
}

.custom-carousel {
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    border-radius: 10px; /* Membuat sudut membulat */
    overflow: hidden;
    height: 100%;
    object-fit: cover; /* Menyembunyikan konten yang keluar */
}

.carousel-inner{
    border: 5px black solid;
    border-color: rgb(242,210,15) ;
}

.navbar-toggler {
    border-color: transparent; /* Menghilangkan border tombol */
}
  
.navbar-toggler-icon {
    background-color: white; /* Warna ikon hamburger */
    color: white; 
    border-radius: 3px;/* Membuat sudut membulat (opsional) */
}

.btn1:hover{
    background-color: rgb(242,210,15) !important;
    color: black !important;
}

.whatsapp-icon {
    transition: transform 0.3s ease !important; /* Efek transisi halus */
}

.whatsapp-icon:hover {
    transform: scale(1.2) !important; /* Membesar 20% */
}

.b1{
    border-top: 3px grey solid;
}

.rb{
    border: 3px black solid;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: rgb(242,210,15);
}

table td, table th {
    border-right: 1px solid black; /* Garis vertikal */
}

.card{
    border: 2px rgb(242,210,15) solid!important;
}
.card1{
    border: 2px black solid!important;
}

.float-button-wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.float-button-wa:hover {
    background-color: #1da851;
    text-decoration: none;
}

  